body{
	font-family:"Courier New", Courier, monospace;
}

h1{
	text-align:center;	
}

a{
	color:black;
}

h6{
	margin-left:5%;
}

table, th, td{
	border:2px solid black;
	border-collapse: collapse;
}

a:hover{
	color:gray;
}

img.item_img:hover{
	opacity:0.7;
}

.spoiler:hover{
	color:white;
}

.menu{
	text-align:center;
}

.center{
	text-align:center;
	margin-right:20%;
	margin-left:20%;
}

.off_of_margin{
	margin-right:20%;
	margin-left:20%;
}

.tab{
	text-indent:4em;
}

.division{
	width:64em;
}

.item{
	border-style:groove;
	width:120px;
	height:150px;
	float:left;
	margin-left:2em;
	margin-right:2em;
	margin-top:2em;
}

.item_img{
	width:100px;
	height:100px;

	margin-top:5px;
}

.side_img{
	position:fixed;
	left:0;
	top:0;
	height:100%;
	z-index:-1;
}

.reg_img{
	width:480px;
	height:270px;
}

.gif_img{
	margin-right:10%;
	margin-left:10%;
}

.box_img{
	width:400px;
	height:400px;
}

.code_snippet{
	background-color:lightgray;
	border: 1px solid black;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1em;
	padding-right:1em;
}

.spoiler{
	background:black;
}
